/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "phoenix-colocated/jeong/colocated.css";
@source "../css";
@source "../js";
@source "../../lib/jeong_web";
/* Required for Tailwind to automatically pick up changes in colocated CSS files in dev */
@source "../../_build/dev/phoenix-colocated/jeong/*/";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. */
@plugin "daisyui/packages/bundle/daisyui" {
  themes: false;
}

/* daisyUI theme plugin.
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "daisyui/packages/bundle/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(98% 0.026 102.212);
  --color-primary: oklch(85% 0.199 91.936);
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(85% 0.199 91.936);
  --color-neutral-content: oklch(28% 0.066 53.813);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/packages/bundle/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(14% 0.004 49.25);
  --color-primary: oklch(94% 0.129 101.54);
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: oklch(97% 0.071 103.193);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(94% 0.129 101.54);
  --color-neutral-content: oklch(28% 0.066 53.813);
  --color-info: oklch(90% 0.058 230.902);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(93% 0.127 124.321);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(90% 0.076 70.697);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(88% 0.062 18.334);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@utility textarea {
  border-radius: 1rem;
}

@theme {
  --font-sans: "cattivo", sans-serif;
  --font-hand: "begaz", cursive;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */
