/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "phoenix-colocated/jeong/colocated.css";
@source "../css";
@source "../js";
@source "../../lib/jeong_web";
/* Required for Tailwind to automatically pick up changes in colocated CSS files in dev */
@source "../../_build/dev/phoenix-colocated/jeong/*/";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. */
@plugin "daisyui/packages/bundle/daisyui" {
  themes: false;
}

@plugin "daisyui/packages/bundle/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.994 0.0028 84.62);
  --color-base-200: oklch(0.9862 0.024 100.26);
  --color-base-300: oklch(0.8812 0.1237 93.24);
  --color-base-content: oklch(0.3519 0.0485 53.74);
  --color-primary: oklch(0.918449 0.133285 98.3956);
  --color-primary-content: oklch(0.3519 0.0485 53.74);
  --color-secondary: oklch(0.9454 0.1043 98.19);
  --color-secondary-content: oklch(0.3519 0.0485 53.74);
  --color-accent: oklch(0.8562 0.1778 81.37);
  --color-accent-content: oklch(0.3519 0.0485 53.74);
  --color-neutral: oklch(0.969 0.0686 100.36);
  --color-neutral-content: oklch(0.3519 0.0485 53.74);
  --color-info: oklch(0.5256 0.108 232.54);
  --color-info-content: oklch(0.9799 0.0099 217.67);
  --color-success: oklch(0.5268 0.1296 147.18);
  --color-success-content: oklch(0.982 0.0092 145.93);
  --color-warning: oklch(0.5919 0.186 46.95);
  --color-warning-content: oklch(0.9787 0.0154 70.83);
  --color-error: oklch(0.5665 0.1977 32.81);
  --color-error-content: oklch(0.9842 0.0071 31.02);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@theme {
  --font-sans: "duper", sans-serif;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */
@utility noise {
  background-image: var(--fx-noise);
  background-size: calc(var(--noise) * 100%);
}

@utility text-trim {
  text-box: trim-both cap alphabetic;
}
