<main class="flex flex-col gap-16 justify-center items-center min-h-screen">
  <div class="text-8xl font-bold text-center">
    <p>your journey of</p>
    <p class="text-accent italic mt-4">shared journaling</p>
    <p>starts here</p>
  </div>
  <.link
    href={~p"/auth/google"}
    class="btn btn-accent btn-xl font-bold w-fit"
  >
    sign up with google
  </.link>
</main>
